/*
    Portfolio Style Sheets

    Mobile First style

*/
/*

    Global Vars

*/
/*

    Golbal Style

*/
* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #1d1d1d;
  color: white;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (max-width: 600px) {
  .social {
    display: flex;
    justify-content: space-evenly;
  }
  .social--links {
    padding: 0 !important;
  }
  .social--links a {
    padding: 0.5em 0.2em !important;
  }
}
@media screen and (min-width: 600px) {
  .btn {
    width: 10em !important;
    text-align: center;
  }
}
#body {
  overflow: hidden;
}

#menu {
  position: absolute;
  top: -5em;
  right: -5em;
  z-index: 100;
  background-color: rgb(20, 162, 194);
  width: 10.5em;
  height: 10.5em;
  border-bottom-left-radius: 50%;
}

#line--h1 {
  width: 2em;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 7em;
  right: 6em;
}

#line--h2 {
  width: 2em;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 6.5em;
  right: 6em;
}

#line--h3 {
  width: 2em;
  height: 4px;
  background-color: white;
  position: absolute;
  top: 7.5em;
  right: 6em;
}

.rotate {
  transform-origin: 50% 50%;
  transition: 1s;
}

.line--rotate45 {
  transform: rotate(45deg);
  right: 6em;
  top: 7em;
}

.line--rotate-45 {
  transform: rotate(-45deg);
  right: 6em !important;
  top: 7em !important;
}

.line--display {
  display: none;
}

main {
  padding: 5em 2em;
  overflow-y: hidden;
}

.container {
  padding: 2em 0.5em;
  margin: 0.6em 0 1em 0;
  overflow-wrap: break-word;
}
.container__subtitle {
  color: rgb(20, 162, 194);
  padding: 1em 0;
}
.container__title {
  font-size: 3em;
  color: rgb(207, 242, 250);
}
.container--variant {
  margin: 1em 0 0 0;
}
.container__text {
  color: rgb(207, 242, 250);
  padding: 2em 4em 2em 0;
}
.container__btn {
  padding: 1em;
}

.opacity {
  opacity: 0.5;
}

.social {
  background-color: rgb(22, 19, 19);
  position: absolute;
  top: 0;
  right: 0em;
  padding: 3em 5em 2.15em 12em;
  width: 88%;
  height: 1.7em;
  font-size: small;
}
.social--links {
  padding: 1em;
}
.social--links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.517);
  border: 1px solid rgb(22, 19, 19);
  padding: 0.5em 2em;
}
.social--links a:hover {
  border: 1px solid rgb(53, 203, 206);
  color: white;
  transition: 1s;
}
.social--hide {
  right: -140%;
}

.btn {
  background-color: inherit;
  border: 1px solid rgb(77, 213, 243);
  padding: 1em 4em 1em 4em;
  color: rgb(77, 213, 243);
  text-decoration: none;
  margin: 2em 0;
  display: block;
  width: auto;
}
.btn:hover {
  color: black;
  background-color: rgb(77, 213, 243);
  transition: 1s;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.cards .container__text {
  padding: 0 !important;
  width: 100%;
}

.card {
  margin: 0em 0;
  width: 100%;
}
.card .btn {
  width: auto;
}
.card .container__text {
  margin: 2em 0;
}

.ice-cube {
  background-size: contain;
  background-image: url(../img/ice-cube.png);
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 31%;
  right: 2em;
  width: 30%;
  opacity: 0.1;
}

.burbuja {
  position: absolute;
  width: 9em;
  height: 9em;
  background-color: rgba(255, 255, 255, 0.369);
  top: 0;
  left: 67%;
  border-radius: 50%;
  opacity: 0.5;
  animation: burbuja linear infinite;
  animation-duration: 2s;
}

#burbuja2 {
  position: absolute;
  width: 10em;
  height: 10em;
  background-color: rgba(255, 255, 255, 0.369);
  top: 0;
  left: 1em;
  border-radius: 50%;
  opacity: 0.5;
  animation: burbuja linear infinite;
  animation-duration: 7s;
}

#burbuja3 {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: rgba(255, 255, 255, 0.369);
  top: 0;
  left: 50%;
  border-radius: 50%;
  opacity: 0.5;
  animation: burbuja linear infinite;
  animation-duration: 4s;
}

#burbuja4 {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: rgba(255, 255, 255, 0.369);
  top: 0;
  left: 90%;
  border-radius: 50%;
  opacity: 0.5;
  animation: burbuja linear infinite;
  animation-duration: 10s;
}

#burbuja5 {
  position: absolute;
  width: 7em;
  height: 7em;
  background-color: rgba(255, 255, 255, 0.369);
  top: 0;
  left: 25%;
  border-radius: 50%;
  opacity: 0.5;
  animation: burbuja linear infinite;
  animation-duration: 9s;
}

#burbuja6 {
  position: absolute;
  width: 7em;
  height: 7em;
  background-color: rgba(255, 255, 255, 0.369);
  top: 0;
  left: 12%;
  border-radius: 50%;
  opacity: 0.5;
  animation: burbuja linear infinite;
  animation-duration: 5s;
}

#burbuja7 {
  position: absolute;
  width: 7em;
  height: 7em;
  background-color: rgba(255, 255, 255, 0.369);
  top: 0;
  left: 62%;
  border-radius: 50%;
  opacity: 0.5;
  animation: burbuja linear infinite;
  animation-duration: 3s;
}

@keyframes burbuja {
  0% {
    top: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    top: 300vh;
    opacity: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
