/*
    Portfolio Style Sheets

    Mobile First style

*/



/*

    Global Vars

*/

$color-one:white;
$color-two:#1d1d1d;
$color-three:rgb(22, 19, 19);
$color-four:gray;
$color-five:rgb(164, 255, 250);

/*

    Golbal Style

*/

*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: $color-two;
    color: $color-one;
}


/*
    General Style
*/

header{
    background-color: $color-three;
    nav{
        text-align: center;
        padding: 1em 1em 1em 1em;
        
        h1{
            font-weight: 300;
        }
        h4{
            font-weight: 300;
            font-size: smaller;
            line-height: 1.5em;
            color: $color-five;
        }
    }
}

main{
    hr{
        width: 80%;
        margin: auto;
    }
}

.section{
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &--title{
        text-align: left;
        font-weight: 200;
        line-height: 1.5em;
    }

    &--text{
        line-height: 1.2em;
        color: $color-four;
        padding: 1em 0 1em 0;
    }

    &--list{
        list-style: none;

        a{
            text-decoration: none;
            color: $color-five;

            &:hover{
                opacity: 0.5;
                transition: 1s;
            }
        }
    }

    &--img{
        padding: 0em 0em 0em 0em;
        max-height: 20em;
        max-width: 80%;
        margin: auto;
        box-sizing: border-box;
        overflow: hidden;

        &:hover{
            transition: 2s;
            transform: scale(1.1);
        }
    }

    hr{
        margin: 1em auto;
    }
}
